/* Add specific styles for the create project page */

body {
    display: flex;
    flex-direction: column;
}

main.content {
    background-color: #cfcff3;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    padding: 20px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

/* Create Project Card */
.card.project-details-card {
    align-items: stretch;
}

.card.project-details-card h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Form Group Styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}