
/* Common styles for cards */
.card {
    margin: 10px; /* Adjust margin for equal spacing around all cards */
    text-align: center;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
}

/* User Summary */
.user-summary {
    display: flex;
    justify-content: center;
    background-color: #cfcff3; /* Background color from registration */
    padding: 10px;
    align-items: center;
    text-align: left;
}

.user-summary .card, .calendar .card {
    width: 100%;
    text-align: left;
}

/* Projects and Pending Tasks */
.project-and-tasks {
    display: flex;
    justify-content: space-between;
    background-color: #cfcff3; /* Background color from registration */
    padding: 0 10px;
}

/* Table styles */
.project-and-tasks table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: table;
}

.project-and-tasks th,
.project-and-tasks td {
    padding: 10px;
    text-align: center;
    border: none; /* Remove default borders */
    white-space: nowrap; /* Prevent text wrapping in table cells */
}

.project-and-tasks th,
.project-and-tasks tr:last-child {
    border-bottom: 2px solid #ccc;
}

/* Link styles for Task ID */
.tasks-card a {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
}

.tasks-card a:hover {
    text-decoration: underline;
}

/* Calendar */
.calendar {
    display: flex;
    justify-content: center;
    background-color: #cfcff3; /* Background color from registration */
    padding: 10px;
    width: 100%; /* Ensure the calendar container takes 100% width */
}

#calendar {
    width: 100%; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    border: 1px solid #ccc; /* Add a border for clarity */
    border-radius: 10px; /* Add rounded corners */
}

/* ==============================
   Responsive Styles
   ============================== */

@media (max-width: 768px) {
    .project-and-tasks {
        flex-direction: column;
    }
    .project-card, .tasks-card {
        width: 96%; /* Make cards take 100% width */
        margin-bottom: 10px; /* Add some spacing between the cards */
    }
    .tasks-card th, .tasks-card td {
        font-size: 14px; /* Adjust the font size as needed */
    }
    .project {
        font-size: 14px; /* Adjust the font size for project containers */
    }

    .user-summary, .project-and-tasks, .calendar {
        padding: 0 10px;
    }
}