/* Add specific styles for the edit project page */

body {
    display: flex;
    flex-direction: column;
}

main.content {
    background-color: #cfcff3;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    padding: 20px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

/* Edit Project Card */
.card.edit-project-card {
    align-items: stretch;
}

.card.edit-project-card h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Form Group Styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
