body {
    display: flex;
    flex-direction: column;
}

main.content {
    background-color: #cfcff3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
}

/* Create Client Card Styles */
.card.client-details-card {
    align-items: stretch;
}

.card.client-details-card h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Form Group Styles */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}