body {
    display: flex;
    flex-direction: column;
}

main.content {
    background-color: #cfcff3;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    padding: 20px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    justify-content: center;
}

.project-details-card {
    align-items: stretch;
}

.card.project-details-card h3 {
    font-size: 2em;
}

.client-section {
    margin-top: 20px;
}

.client-info {
    display: flex;
    align-items: flex-end; /* Align items vertically */
}

.client-logo {
    max-width: 100px; /* Adjust the max-width as needed */
    margin-right: 10px; /* Add margin to separate the logo and name */
}

.client-name {
    font-size: 1.2em; /* Adjust the font size for the client name */
    line-height: 0.75;
}

.project-type-section,
.status-section,
.lead-section,
.details-section,
.dates-section,
.tasks-section {
    margin-top: 20px;
}

.hashtags {
    display: flex;
    margin-top: 10px;
}

.hashtag {
    background-color: #dcdcf1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.status-item {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.complete {
    background-color: #5cb85c; /* Green color for completed status */
    color: #fff;
}

.on-hold {
    background-color: #f0ad4e; /* Orange color for on-hold status */
    color: #fff;
}

.not-started {
    background-color: #d9534f; /* Red color for not started status */
    color: #fff;
}

.in-progress {
    background-color: #3396FF; /* Red color for not started status */
    color: #fff;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-project-button button,
.create-task-button button {
    background-color: #1c4b82;
    font-size: 1em;
    padding: 5px 10px;
    height: 2em; /* Set the desired height for the button */
}

.edit-project-button button {
    background-color: #C63636;
}