/* Add specific styles for the projects page */

body {
    display: flex;
    flex-direction: column;
}

main.content {
    background-color: #cfcff3;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    padding: 20px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

/* Projects Content */
.projects-card {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: normal;
}

/* Projects Heading */
.projects-heading {
    font-size: 2em; /* Adjust the font size for the heading */
    text-align: left; /* Align the heading to the left */
    margin-bottom: 10px; /* Add some space below the heading */
}


/* Projects Table */
.projects-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin as needed */
    display: table;
}

.projects-table th,
.projects-table td {
    padding: 10px;
    text-align: center;
    border: none; /* Remove default borders */
    white-space: nowrap; /* Prevent text wrapping in table cells */
}

.projects-table th, .projects-table tr:last-child{
    border-bottom: 2px solid #ccc; /* Add a bottom border to header row */
}

/* Search Bar */
.search-bar {
    display: flex; /* Adjusted to a flex layout */
    align-items: center; /* Align items vertically */
    align-self: start;
}

.search-bar input {
    flex: 1;
    height: 2em; /* Set the desired height for the input */
}

.search-bar button {
    font-size: 1em;
    padding: 2px;
    height: 2em; /* Set the same height for the button */
    margin-left: 10px; /* Add some space between the input and button */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .projects-table th,
    .projects-table td {
        font-size: 14px; /* Adjust the font size as needed for smaller screens */
    }
}