<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>PlanNira - Login</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/fixed-styles.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="../static/images/logo.png" alt="PlanNira Logo" class="header-logo">
                </div>
                <ul class="nav-links">
                    <li><a href="#dashboard">Dashboard</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#tasks">Tasks</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li>Welcome, User</li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Login Form -->
    <main class="login content">
        <div class="login-content">
            <h2>Login to Your PlanNira Account</h2>
            <form th:action="@{/login}" method="post" th:object="${loginForm}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" th:field="*{email}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" th:field="*{password}" required>
                </div>
                <span class="error" th:if="${param.error}">Error message</span>
                <button type="submit">Login</button>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../static/images/logo.png" alt="PlanNira Logo" class="footer-logo">
            </div>
            <p>&copy; 2023 PlanNira. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
